("(root_path:\"assets/config\",font_delta:4.0,open_panel:Datasets)","[\"(\\\"1.0\\\",\\\"(path:\\\\\\\"\\\\\\\",batch_sz:0,aug:(flip:true,crop:4,cutout:8))\\\")\",\"(\\\"1.0\\\",\\\"(path:\\\\\\\"\\\\\\\",train_batch_size:0,test_batch_size:0)\\\")\",\"(\\\"1.0\\\",\\\"(path:\\\\\\\"\\\\\\\",train_batch_size:0,test_batch_size:0)\\\")\"]")